@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    @apply px-5 py-2 rounded-xl text-center w-56 m-5
 }
 .hoverText{
     @apply hover:text-red-800
 }
 .btnHover{
     @apply hover:scale-110
 }
 .imgOption{
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius:7px;
 }

.hoverImg:hover{
    transform: scale(1.25);
    transition-duration: 500ms;
}
